<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="pen" class="com.teranet.rps.springtraining.beans.Pen" scope="prototype"></bean>
    <bean id="book" class="com.teranet.rps.springtraining.beans.Book">
        <property name="author" value="Hitesh"></property>
        <property name="publisher" value="TRV"></property>
        <property name="nameSlip" ref="NameSlip"></property>
    </bean>
    <bean id="NameSlip" class="com.teranet.rps.springtraining.beans.NameSlip">
    </bean>

</beans>